body {
    background-color: black;
    color: white;
}
.jumpButton {
    background-color: gray;
    color: white;
    width: 100px;
    height: 50px;
}
.useExtButton {
    background-color: gray;
    color: white;
    width: 70px;
    height: 60px;
    text-align: center;
}
.useExtText {
    text-align: center;
    color: aliceblue;
}

a {
    color: yellowgreen;
}

.author p{
    color: yellow;
    position: relative;
    margin-left: 60px;
    margin-top: 5px;
    height: 90px;
}
.author img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}